h3{
    font-family: 'Noto Sans JP';
    font-weight: 700;
    font-size: 2rem;
    line-height: 46px;
    text-align: center;
    color: #fff;
    background: #462703e6;
    margin-bottom: 4rem;
}

.thumb_box {
    display: flex;
    flex-direction:row;
    width: 100%;
    height: auto;

    
}

.thumbnail {
    width: 100%;
    height: auto;
    margin: 0 4% 0 2%;
  
}

.column2{
    display: flex;
    flex-flow: column;
    width: 80%;
    height: auto;
    margin: 0% 0% 0% 0%;

}

.status{
    width: 100%;
    height: 10%;
    background: #54eb59;
    border-radius: 50px;
    text-align: center;
    font-size: 1.8vw; 
    color: #fffefe;
    font-weight: 700;
}

.fund_all{
    width: 100%;
    height: auto;

}

.fund_all dl{
    display: flex;
    width: 90%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 3% 5% 3% 5%;
}

.fund_goal{
    width: 100%;
    color: #f61f1f;
  
}

.fund_gained{
    width: 100%;
   
}

.title{
    font-size: 1.2vw;
}

.fund_number{
    font-size: 3.0vw;
    margin-left: 10%;
    margin-right: 5%;
}

.fund_item{
    font-size: 1.2vw;
    margin: 0 15% 0
}

.progBar_all{
    display: block;
    height: 30%;
   
}

.progBar_title{
    text-align: left; 
    font-size: 1.5vw;
    margin:0% 0% 0% 0%;
    padding-bottom: 1%;


}

.countdown{
    text-align: center;
    margin:0%;
    font-size: 1.5vw;
   
}

.progBar{
    width: 100%;
    height: 30%;
    background-color:#d7d7d7;
    position:relative;
    border-radius:5px;
    overflow: hidden;
    
}

.bar{
    color: #ffffff;
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
}

.progBar .bar{
    position:absolute;
    height: 100%;
    background-color:#ffa600;
    animation: progress 2s normal;
    animation-fill-mode: forwards;
}

@keyframes progress {
    0% {width: 0}
    100% {width: 80%}
}

.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
} 

@keyframes fadeUpAnime{
    from {
    opacity: 0;
    transform: translateY(100px);
    }
    
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

.support{
    width: 100%;
    height: 15%;
    
}

.support_btn{
    width: 70%;
    height: 100%;
    background: #5c3302e6;
    margin:0% 15% 0% 15%;
    padding: 3% 0 0 3%;
    text-align: center;
    border-radius: 30px;
    font-weight: 600;
   
}


.support_btn:hover {
    transform: translateY(2px);
}
      
.support_btn:active {
    transform: translateY(5px);
}

.share{
width: 100%;
height: 12%;
}

.share_btn {
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 96%;
    list-style: none;
    margin:0%;
    padding: 3% 0 2% 0;
}
.share_btn li {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;

}

.share_btn li .icon-twitter{
    background:#55acee;
    color:#ffffff;
    font-size: 1.2vw;
    width: 100%;
    height: 100%;
    font-weight: 700;
    flex: 1;
    padding: 5%;

}
.share_btn li .icon-facebook{
    background:#3B5998;
    color:#ffffff;
    font-size: 1.2vw;
    width: 100%;
    height: 100%;
    font-weight: 700;
    flex: 1;
    padding:5%;
}

.share_btn li .icon-watch{
    color:#FF0000; 
    background: #ffffff; 
    font-size: 1.2vw;
    width: 100%;
    height: 100%;
    padding-top:5% ;
    flex:1;
}

.share_btn li a:hover{
    opacity: 0.8;
}


/*各項目名 */
.project-name h1, h2, h4, h6 {
    text-align: left;
    font-size: 2vw;
    font-weight: bold;
}
/*各枠*/
.projectinfo {
    width: 100%;
    height: auto;
    text-align: left;
    background: rgba(249, 244, 228, 0.968);
    border-radius: 5px;
    padding: 2%;
    margin: 2% 0% 0% 2%;
    
}

/* 3. 枠線内をクリックするとリンク先に飛ぶ */
a.project-list :hover{
   text-decoration:none;
   color: #B19956;
}

/*サムネイル画像 */
.project-img {
    display: flex;
    width: 100%;  
    height: auto;
}

.project-{
    margin: 2%;
}

.project-name{
    display: flex;
    padding:0 0% 0 0;
}

.project-name h5{
    font-size: 1.5vw;
    font-weight: bold;
    margin: auto;
    padding-top: 3%;    
}

.project-transition{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    align-items: center;

}

.project-body{
    font-size: 1.5vw;
    margin-right: 2%;
}