h3{
    font-family: 'Noto Sans JP';
    font-weight: 700;
    font-size: 2rem;
    line-height: 46px;
    text-align: center;
    color: #fff;
    background: #462703e6;
    margin-bottom: 4rem;
}

.thumb_box {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}

.thumbnail {
    width: auto;
    height: auto;
    margin:0% 2% 0% 2%; 
}

.column2{
    display: flex;
    flex-flow: column;
    width: 70%;
    height: auto;
    margin-right: 2%;
}

.status{
    width: 100%;
    height: 15%;
    background: #37DE3D;
    border-radius: 50px;
    text-align: center;
    font-size:small;
}

dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.fund_goal{
    display: flex;
    flex-wrap: wrap;
    color: #f61f1f;
    text-align: left;
    margin: 2% 5% 2% 5%;
    
}

.fund_gained{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 2% 5% 2% 5%;


}

.fund_item{
    text-align: left;
    font-size: 1.2vw;
}

.fund_number{
    font-size: 3.0vw;
}

.title{
    font-size: 1.2vw;
}

.progBar{
    width: 100%;
    height: 100%;
    background-color:#d7d7d7;
    position:relative;
    border-radius:5px;
    overflow: hidden;
}

.bar{
    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: 700;
    height: 100%;
}

.progBar .bar{
    position:absolute;
    height: 100%;
    background-color:#ffa600;
    animation: progress 2s normal;
    animation-fill-mode: forwards;
}

@keyframes progress {
    0% {width: 0}
    100% {width: 80%}
}

.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    margin: 5% 0 5% 0;
    height: 100%;
    } 

@keyframes fadeUpAnime{
    from {
    opacity: 0;
    transform: translateY(100px);
    }
    
    to {
    opacity: 1;
    transform: translateY(0);
    }
 }

.countdown{
    text-align: center;
}

.btn {
    width: 80%;
    height: auto;
    background: #5c3302e6;
    padding:0%;
    margin:2% 10% 2% 10%;
    align-items: center;
}


.btn:hover {
    transform: translateY(2px);
}
      
.btn:active {
    transform: translateY(5px);
}

.shareSns {
    display: flex;
    float: left;
    width: 100%;
    height: 100%;
    list-style: none;
    padding:0%;
    margin:0 0 0 0;
    background: #ffffff;
}
.shareSns li {
    width: 100%;
    padding: 0%;
}
.shareSns li a {
    font-size: 10px;
}
.shareSns li a:hover{
    opacity: 0.8;
}
.shareSns li .icon-twitter{
    display:block;
    background:#55acee;
    color:#ffffff;
    width: auto;
    height: 50%;
    font-weight: 700;
}
.shareSns li .icon-facebook{
    display:block;
    background:#3B5998;
    color:#ffffff;
    width: auto;
    height: 50%;
    font-weight: 700;
}

.shareSns li .icon-watch{
    display: block;
    color:#FF0000; 
    font-size: 1rem;
    background: #ffffff;
}

/*各項目名 */
.project-name h1, h2, h4, h6 {
    font-size: 2vw;
    font-weight: bold;
}
/*各枠*/
.projectinfo {
    width: 100%;
    height: auto;
    background: rgba(255, 246, 233, 0.968);
    border-radius: 5px;
    padding: 2%;
    margin-top: 2%;
    
}

a.project-list {
   display: flex;
   color: #462703e6;
}

/* 3. 枠線内をクリックするとリンク先に飛ぶ */
a.project-list :hover{
   text-decoration:none;
   color: #B19956;
}

/*サムネイル画像 */
.project-img {
    display: flex;
    width: 100%;  
    height: auto;
  
}

.project-{
    margin: 2%;
}

.project-name{
    display: flex;
    padding:0 2% 0 0;
}

.project-name h5{
    font-size: 1.5vw;
    font-weight: bold;
    margin: auto;
    padding-top: 3%;    
}

.project-transition{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    align-items: center;

}

.project-body{
    font-size: 1.5vw;

}